@model FinanWebApp.Models.ListUserRoleViewModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>@ViewBag.Title</h2>


<div>
    <div>
        @Html.ActionLink("Volver", "Index")
    </div>
    <hr />
    <h3>¿Esta seguro de eliminar la asignación del rol del usuario?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
        </div>
    }
</div>