@model IEnumerable<FinanWebApp.Models.ListRoleViewModel>

@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>

<p class="text-danger">@ViewBag.StatusMessage</p>

<p>
    @Html.ActionLink("Crear rol", "Create") | 
    @Html.ActionLink("Volver", "Index", "Manage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
